<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="recreate.india.main.startupcarvaan">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/startupcarvaanlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/startupcarvaanlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StartupCarvaan">
        <activity android:name=".mainActivities.RecyclerActivity"></activity>
        <activity android:name=".CardViewActivity" />
        <activity android:name=".coin_exchange.buy_rci" />
        <activity android:name=".payments.UpiPaymentActivity" />
        <activity android:name=".payments.payinActivity" />
        <activity android:name=".mainActivities.IntroSliderActivity" />
        <activity
            android:name=".user.CreateProfile"
            android:parentActivityName=".user.ProfileActivity" />
        <activity
            android:name=".loginsignup.PhoneAuthActivity"
            android:parentActivityName=".loginsignup.loginActivity" />
        <activity
            android:name=".user.ProfileActivity"
            android:parentActivityName=".user.CreateProfile">
            \
        </activity>
        <activity
            android:name=".aboutshare.blogging"
            android:parentActivityName=".mainActivities.MainActivity" />
        <activity android:name=".mainActivities.MainActivity" />
        <activity android:name=".mainActivities.PrivacyPolicy" />
        <activity
            android:name=".loginsignup.loginActivity"
            android:theme="@style/Theme.StartupCarvaan.Fullscreen" />
        <activity android:name=".mainActivities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>