<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="recreate.india.main.startupcarvaan">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/startupcarvaanlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/startupcarvaanlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StartupCarvaan">
        <activity android:name=".coin_exchange.rci_exchange">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Levels" />
        <activity android:name=".mainActivities.RecyclerActivity" />
        <activity android:name=".payments.payout" />
        <activity android:name=".payments.payin" />
        <activity android:name=".Helppage" />
        <activity android:name=".coin_exchange.buy_rci"></activity>
        <activity android:name=".mainActivities.IntroSliderActivity" />
        <activity android:name=".user.CreateProfile" />
        <activity
            android:name=".loginsignup.PhoneAuthActivity"
            android:parentActivityName=".loginsignup.loginActivity" />
        <activity android:name=".user.ProfileActivity" />
        <activity
            android:name=".aboutshare.blogging"
            android:parentActivityName=".mainActivities.MainActivity" />
        <activity android:name=".mainActivities.MainActivity"></activity>
        <activity android:name=".mainActivities.PrivacyPolicy" />
        <activity
            android:name=".loginsignup.loginActivity"
            android:theme="@style/Theme.StartupCarvaan.Fullscreen" />
        <activity android:name=".mainActivities.SplashScreen">

        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>